@font-face {
    font-family: 'Pirata One';
    src: url('PirataOne-Regular.woff2') format('woff2'),
        url('PirataOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sakkal Majalla';
    src: url('SakkalMajalla.woff2') format('woff2'),
        url('SakkalMajalla.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sakkal Majalla';
    src: url('SakkalMajalla-Bold.woff2') format('woff2'),
        url('SakkalMajalla-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

